console.log("Danceability <%=@danceability%> Energy <%=@energy%> Valence <%=@valence%> Acousticness <%=@acousticness%> Instrumentalness <%=@instrumentalness%> Liveness <%=@liveness%> Tempo <%=@tempo%>");


document.getElementById("playlist-name").innerHTML= "<h1>Average audiofeatures for <u class='playlist-link'><%=@name%></u></h1>";
for(var i = 1; i <= 4; i++) {
	console.log("data"+i);
	document.getElementById("data"+i).innerHTML ='';
}
var tempo = document.getElementById("data1");
var tempoHead = document.createElement('h3');
var textNode = document.createTextNode("Tempo: <%=@tempo.to_i%> BPM");
tempoHead.appendChild(textNode);
tempo.appendChild(tempoHead);

var pieFont ='';
var pieMaxWidth = 700;
var pieMaxHeight = 700;




dancePie = new d3pie("data2", {
    "header": {
		"title": {
			"font": "verdana"
		},
		"subtitle": {
			"color": "#000000",
			"fontSize": 10,
			"font": "verdana"
		},
		"titleSubtitlePadding": 12
    },
    "footer": {
		"text": "Danceability",
		"color": "#000000",
		"fontSize": 20,
		"font": "open sans",
		"location": "bottom-center"
    },
    "size": {
		"canvasHeight": pieMaxHeight*(<%=@danceability%>/100),
		"canvasWidth": pieMaxWidth*(<%=@danceability%>/100),
		"pieOuterRadius": "88%"
    },
    
    "data": {
		"content": [
			{
				"label": "Danceability",
				"value": <%=@danceability%>,
				"color": "#A239CA"
			},
			{
				"label": "Undanceability",
				"value": 100-<%=@danceability%>,
				"color": "#e1e1e1"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "none",
			"pieDistance": 32
		},
		"mainLabel": {
			"font": "verdana"
		},
		"percentage": {
			"color": "#e1e1e1",
			"font": "verdana",
			"fontSize": 40*(<%=@danceability%>/100),
			"decimalPlaces": 0
		},
		"value": {
			"color": "#e1e1e1",
			"font": "verdana"
		},
		"truncation": {
			"enabled": true
		}
	},
	"misc": {
		"color": {
			"segmentStroke": "#000000"
		}
	}
});

energyPie = new d3pie("data3", {
    "header": {
		"title": {
			"font": "verdana"
		},
		"subtitle": {
			"color": "#000000",
			"fontSize": 10,
			"font": "verdana"
		},
		"titleSubtitlePadding": 12
    },
    "footer": {
		"text": "Energy",
		"color": "#000000",
		"fontSize": 20,
		"font": "open sans",
		"location": "bottom-center"
    },
    "size": {
		"canvasHeight": pieMaxHeight*(<%=@energy%>/100),
		"canvasWidth": pieMaxWidth*(<%=@energy%>/100),
		"pieOuterRadius": "88%"
    },
    
    "data": {
		"content": [
			{
				"label": "Danceability",
				"value": <%=@energy%>,
				"color": "#4717F6"
			},
			{
				"label": "Undanceability",
				"value": 100-<%=@energy%>,
				"color": "#e1e1e1"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "none",
			"pieDistance": 32
		},
		"mainLabel": {
			"font": "verdana"
		},
		"percentage": {
			"color": "#e1e1e1",
			"font": "verdana",
			"fontSize": 40*(<%=@energy%>/100),
			"decimalPlaces": 0
		},
		"value": {
			"color": "#e1e1e1",
			"font": "verdana"
		},
		"truncation": {
			"enabled": true
		}
	},
	"misc": {
		"color": {
			"segmentStroke": "#000000"
		}
	}
});

valencePie = new d3pie("data4", {
    "header": {
		"title": {
			"font": "verdana"
		},
		"subtitle": {
			"color": "#000000",
			"fontSize": 10,
			"font": "verdana"
		},
		"titleSubtitlePadding": 12
    },
    "footer": {
		"text": "Valence",
		"color": "#000000",
		"fontSize": 20,
		"font": "open sans",
		"location": "bottom-center"
    },
    "size": {
		"canvasHeight": pieMaxHeight*(<%=@valence%>/100),
		"canvasWidth": pieMaxWidth*(<%=@valence%>/100),
		"pieOuterRadius": "88%"
    },
    
    "data": {
		"content": [
			{
				"label": "Danceability",
				"value": <%=@valence%>,
				"color": "#0e0b16"
			},
			{
				"label": "Undanceability",
				"value": 100-<%=@valence%>,
				"color": "#e1e1e1"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "none",
			"pieDistance": 32
		},
		"mainLabel": {
			"font": "verdana"
		},
		"percentage": {
			"color": "#e1e1e1",
			"font": "verdana",
			"fontSize": 40*(<%=@valence%>/100),
			"decimalPlaces": 0
		},
		"value": {
			"color": "#e1e1e1",
			"font": "verdana"
		},
		"truncation": {
			"enabled": true
		}
	},
	"misc": {
		"color": {
			"segmentStroke": "#000000"
		}
	}
});

